.breadcrumb {
  .breadcrumb-item {
    color: $gray-500;

    a {
      color: $gray-500;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;

    .breadcrumb-item {
      padding-left: 0;
      color: $body-color;

      a {
        color: $body-color;
      }

      &::before {
        display: none;
      }

      &:not(.active) {
        display: none;
      }
    }
  }
}