.btn {
  &[type='submit'] {
    min-width: 10rem;
  }

  &.btn-show-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: $dark;
    color: $dark;

    .icon {
      fill: $dark;
      transition: $transition-base;
    }

    &:not(:disabled):not(.disabled) {
      &.busy,
      &.busy:hover,
      &.busy:focus {
        text-decoration: none;
        color: $white;
        border-color: $primary;
        background-color: $primary;
        box-shadow: none;
        opacity: 0.25;

        .icon {
          fill: $white;
          animation: spin 2s ease-in-out infinite;
        }
      }

      &:not(.busy) {
        &:hover {
          text-decoration: none;
          border-color: $primary;
          color: $primary;

          .icon {
            fill: $primary;
          }
        }

        &:focus {
          text-decoration: none;
          box-shadow: none;
        }
      }
    }
  }
}

.backlink {
  display: inline-flex;
  align-items: center;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  border-radius: $border-radius-sm;
  border-color: $gray-500;
  color: $body-color;

  .icon {
    margin-right: -1.25rem;
  }

  .caption {
    margin: 0 auto;
  }
}

// SVG fills

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    .icon {
      fill: color-yiq($value);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    .icon {
      fill: $value;
    }

    &:hover,
    &:active,
    &.active {
      .icon {
        fill: color-yiq($value);
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .show > .btn-outline-#{$color} {
    .icon {
      fill: color-yiq($value);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
