.card {
  .card-rating {
    display: flex;

    .icon-rating {
      fill: $light;

      &.icon-rating-full {
        fill: $orange;
      }

      & + .icon-rating {
        margin-left: 0.25rem;
      }
    }
  }

  &.card-banner {
    border-radius: 0;
    border: none;
    font-weight: $font-weight-medium;

    h1,
    .h1 {
      font-size: 1.25rem;
    }
    h2,
    .h2 {
      font-size: 1.125rem;
    }
    h3,
    .h3 {
      font-size: 1rem;
    }
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      font-size: $font-size-base;
    }

    .btn {
      font-weight: $font-weight-medium;
    }

    .card-img {
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }

    &.card-banner-sm {
      .card-img {
        height: 155px;
      }
    }

    &.card-banner-lg {
      .card-img {
        height: 165px;
      }
    }

    &.card-banner-vertical {
      .card-img {
        height: 280px;
      }
    }

    @include media-breakpoint-down(sm) {
      .btn {
        padding: 0.25rem 1.25rem;
      }
    }

    @include media-breakpoint-up(md) {
      h1,
      .h1 {
        font-size: 2.5rem;
      }
      h2,
      .h2 {
        font-size: 2rem;
      }
      h3,
      .h3 {
        font-size: 1.25rem;
      }

      &.card-banner-sm {
        .card-img {
          height: 210px;
        }
      }

      &.card-banner-lg {
        font-size: 1.125rem;

        .card-img {
          height: 250px;
        }

        .card-body {
          padding-top: 2rem;
        }
      }

      &.card-banner-vertical {
        .card-img {
          height: 195px;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      h1,
      .h1 {
        font-size: 4rem;
      }
      h2,
      .h2 {
        font-size: 3rem;
      }
      h3,
      .h3 {
        font-size: 2rem;
      }
      h4,
      .h4 {
        font-size: 1.75rem;
      }

      .card-link {
        min-width: 9rem;
      }

      &.card-banner-lg {
        .card-img {
          height: 320px;
        }

        .card-body {
          padding: 3rem 2rem 2rem;
        }
      }

      &.card-banner-vertical {
        .card-img {
          height: 265px;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      &.card-banner-lg {
        .card-img {
          height: 370px;
        }

        .card-body {
          padding: 4rem 3rem 3rem;
        }
      }

      &.card-banner-vertical {
        .card-img {
          height: 315px;
        }
      }
    }
  }

  &.card-product {
    height: 100%;
    border-radius: $border-radius-sm;

    .card-img-wrapper {
      padding: 0.5rem
    }

    .card-img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }

    .card-rating {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    .card-body {
      padding: 0.5rem 0.75rem;
    }

    .item-price {
      margin-bottom: 0.5rem;
      
      .caption {
        margin-bottom: 0.25rem;
        font-size: 0.625rem;
        color: $gray-600;
      }

      .price {
        margin-bottom: 0;
        font-weight: $font-weight-medium;
        color: $secondary;
      }
    }

    .card-footer {
      display: flex;
      padding: 0.5rem;
      border: none;
      background-color: transparent;

      .b-form-spinbutton {
        height: auto;
        padding: 0.375rem 0.5rem;
        border-radius: $border-radius-sm;
        color: $white;
        border-color: $primary;
        background-color: $primary;

        .btn {
          padding-left: 0.75rem;
          padding-right: 0.75rem;

          .b-icon {
            fill: $white;
          }
        }

        & > output {
          border: none !important;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.375rem 1.5rem;
        border-radius: $border-radius-sm;

        .icon {
          flex: 0 0 auto;
        }

        .caption {
          margin-left: 0.75rem;
        }

        &.btn-icon {
          .icon {
            fill: none;
            stroke: $gray-500;
            transition: $transition-base;
          }

          &:not(:disabled):not(.disabled) {
            &:hover {
              .icon {
                stroke: $secondary;
              }
            }

            &:focus {
              box-shadow: none;
            }

            &.active {
              .icon {
                fill: $magenta;
                stroke: $magenta;
              }
            }
          }
        }
      }
    }
  }

  &.card-review {
    flex-direction: row;
    align-items: center;
    border-radius: 0;
    border: none;

    .card-img {
      align-self: flex-start;
      width: 4rem;
      height: 4rem;
      margin-top: 0.25rem;
      border-radius: 99rem;
      object-fit: cover;
    }

    .card-body {
      padding: 0 1rem;
    }

    .card-rating {
      margin-bottom: 0.5rem;
    }
  }
}