.dropdown-search-wrapper {
  .search-input-wrapper {
    position: relative;

    & > .form-control {
      background-color: transparent;
    }

    .overlay-suggestion {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      max-width: 100%;
      padding: $input-btn-padding-y $input-btn-padding-x;
      padding-left: 2rem;
      line-height: $input-btn-line-height;
      border: 1px solid transparent;
      overflow: hidden;
      pointer-events: none;

      .query {
        color: transparent;
      }

      .suggestion {
        color: $gray-300;
      }
    }

    .form-control-sm ~ .overlay-suggestion {
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
    }
  }

  .dropdown-search {
    position: absolute;
    left: 1rem;
    right: 0;
    top: calc(100% + 1px);
    max-height: 85vh;
    padding: 1.5rem 2.5rem 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0.25rem 0.25rem rgba($black, 0.25);
    z-index: $zindex-dropdown;

    .list-item {
      margin-bottom: 1rem;
    }

    .list-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $body-color;

      .item-img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
      }

      .caption {
        display: block;
        margin-left: 1rem;
      }

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    position: relative;
    overflow: hidden;
    background-color: $white;
    transition: all 1s ease-in-out, z-index 0s;

    .search-backdrop {
      position: fixed;
      left: 0;
      top: calc(0.875rem + 28px);
      bottom: 0;
      width: 100%;
      background-color: $black;
      transition: none;
      opacity: 0.5;
      z-index: $zindex-modal - 1;
    }

    .search-input-wrapper {
      .form-control {
        transition: none;
        
        &:not(:disabled):not(.disabled) {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .dropdown-search {
      position: fixed;
      left: 0;
      top: calc(0.875rem + 28px);
      padding: 0.75rem 1.25rem 1.25rem;
      border-top: 1px solid $gray-300;
      z-index: $zindex-modal + 1;

      .item-img {
        display: none;
      }

      .list-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 -0.4375rem;

        .list-item {
          margin-bottom: 0;
          padding: 0 0.4375rem 0.875rem;
        }

        .list-link {
          display: block;
          padding: 0.375rem 1.25rem;
          border-radius: $rounded-pill;
          background-color: $gray-300;
          transition: $transition-base;

          .caption {
            margin-left: 0;
          }

          &:hover {
            color: $body-color;
            background-color: $gray-400;
          }
        }
      }

      .list-popular {
        .list-item {
          &:last-of-type {
            margin-bottom: 0;
          }
        }

        .list-link {
          text-decoration: underline;
        }
      }
    }

    &.expanded {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: transparent;
      z-index: $zindex-modal;

      &::before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(0.875rem + 28px);
        background-color: $white;
      }

      .search-input-wrapper {
        display: flex;
        flex: 1 1 auto;
        height: calc(0.875rem + 28px);
        background-color: $white;

        .form-control {
          margin-top: auto;
          margin-bottom: auto;
          padding-left: 0.5rem;
          border-color: transparent;
          background-image: none;
        }

        .overlay-suggestion {
          top: 50%;
          width: 100%;
          padding-left: 0.5rem;
          transform: translateY(-50%);
        }
      }

      .btn {
        position: relative;
        flex: 0 0 auto;
        height: calc(0.875rem + 28px);
      }
    }
  }

  @include media-breakpoint-up(md) {
    .search-input-wrapper {
      .overlay-suggestion {
        padding-top: 0.6875rem;
        padding-bottom: 0.6875rem;
        padding-left: 2.5rem;
      }
    }
  }
}
