.font-size-0 {
  font-size: $font-size-0 !important;
}
.font-size-1 {
  font-size: $font-size-1 !important;
}
.font-size-2 {
  font-size: $font-size-2 !important;
}
.font-size-3 {
  font-size: $font-size-3 !important;
}
.font-size-4 {
  font-size: $font-size-4 !important;
}
.font-size-5 {
  font-size: $font-size-5 !important;
}
.font-size-6 {
  font-size: $font-size-6 !important;
}

@each $breakpoint, $value in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    .font-size-#{$breakpoint}-0 {
      font-size: $font-size-0 !important;
    }
    .font-size-#{$breakpoint}-1 {
      font-size: $font-size-1 !important;
    }
    .font-size-#{$breakpoint}-2 {
      font-size: $font-size-2 !important;
    }
    .font-size-#{$breakpoint}-3 {
      font-size: $font-size-3 !important;
    }
    .font-size-#{$breakpoint}-4 {
      font-size: $font-size-4 !important;
    }
    .font-size-#{$breakpoint}-5 {
      font-size: $font-size-5 !important;
    }
    .font-size-#{$breakpoint}-6 {
      font-size: $font-size-6 !important;
    }
  }
}

.font-weight-medium {
  font-weight: $font-weight-medium !important;
}

a {
  transition: color 0.2s ease-in-out;
}

a.text-reset.text-decoration-none,
a.text-body.text-decoration-none,
a.text-black.text-decoration-none {
  transition: $transition-base;

  &:hover {
    color: $primary !important;
  }
}

.section-title {
  margin-bottom: 1.5rem;
  font-size: $font-size-4;
  font-weight: $font-weight-medium;
  text-align: center;
  text-transform: uppercase;
  color: $gray-700;
}

.text-underline {
  text-decoration: underline !important;
}

.text-striked {
  text-decoration: line-through;
}

.list-specs {
  & > li {
    display: flex;
    margin-bottom: 0.5rem;

    .title,
    .value {
      flex: 0 0 auto;
    }

    .spacer {
      flex: 1 1 0;
      margin: 0 0.125rem;

      &.spacer-dots {
        margin-bottom: 0.125rem;
        border-bottom: 1px dotted $body-color;
      }
    }
  }
}