img.embed-responsive-item {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain !important;
}
.object-fit-cover {
  object-fit: cover !important;
}

.no-focus-ring {
  &:focus,
  &.focus {
    box-shadow: none !important;
  }
}

.rounded-xl {
  border-radius: 1rem !important;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.flex-center {
  align-items: center !important;
  justify-content: center !important;
}

.link-lightbox {
  &::after {
    display: block;
    content: 'Увеличить фото';
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.5rem 1rem;
    border-radius: $border-radius-sm;
    color: $white;
    background-color: $primary;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: $transition-base;
    pointer-events: none;
  }

  &:hover {
    &::after {
      opacity: 0.5;
    }
  }
}

@each $color, $value in $theme-colors {
  .text-#{$color} {
    .icon {
      fill: $value;
      transition: $transition-base;
    }

    &:link:hover,
    &.btn-link:hover,
    &:link:active,
    &.btn-link:active,
    &:link.active,
    &.btn-link.active {
      .icon {
        fill: darken($value, 15%);
      }
    }
  }
}

@each $breakpoint, $width in $grid-breakpoints {
  @each $color, $value in $theme-colors {
    @include media-breakpoint-up($breakpoint) {
      .bg-#{$breakpoint}-#{$color} {
        background-color: $value !important;
      }
    }
  }
}
