// Color system

$white: #fff;
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: #000;

$red: #dd0000;
$magenta: #d41894;
$pink: #e03e7e;
$yellow: #ffe177;
$teal: #18d4c9;
$green: #3c7751;
$blue: #46aae1;
$darkblue: #0173b4;
$cyan: #04beca;
$orange: #f6a429;

$primary: $cyan;
$secondary: $darkblue;
$light: $gray-200;
$dark: $gray-800;

$danger: $red;
$warning: $orange;
$success: $green;
$info: $blue;

$theme-colors: (
  'white': $white,
  'gray-50': $gray-50,
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'black': $black,
  'primary': $primary,
  'secondary': $secondary,
  'light': $light,
  'dark': $dark
);

$yiq-text-dark: $gray-900;
$yiq-text-light: $white;
$yiq-contrasted-threshold: 150;

// Gradients

$gradient-blue: linear-gradient(92deg, darken($darkblue, 5%), $darkblue 10%, $teal 90%);
$gradient-green: linear-gradient(92deg, $blue 10%, $green 90%);
$gradient-pink: linear-gradient(92deg, $pink 10%, $yellow 90%);

// Options

$enable-validation-icons: false;
$enable-rounded: true;
$transition-base: all 0.2s ease-out;
$body-bg: $white;
$body-color: $gray-900;

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  15: 15px,
  30: 30px,
  45: 45px,
  60: 60px,
  90: 90px
);

// Fonts

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
$font-size-base: 0.875rem;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-base: 1.2;

$font-size-0: 0.625rem;
$font-size-1: 0.75rem;
$font-size-2: 0.875rem;
$font-size-3: 1rem;
$font-size-4: 1.125rem;
$font-size-5: 1.25rem;
$font-size-6: 1.375rem;

// Buttons + Forms

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
$input-btn-line-height: 1.5;

$btn-padding-x: 1.5rem;

$input-btn-focus-width: 0.125rem;
$input-btn-focus-color: rgba($gray-500, 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$custom-checkbox-indicator-border-radius: 0.125rem !important;

// Buttons

$btn-transition: color 0.2s ease-out, background-color 0.2s ease-out,
  border-color 0.2s ease-out, box-shadow 0.2s ease-out;

// Forms

$input-placeholder-color: $gray-500;
$input-border-color: $gray-400;
$input-focus-border-color: $gray-500;
$input-transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
$custom-forms-transition: background-color 0.2s ease-out,
  border-color 0.2s ease-out, box-shadow 0.2s ease-out;
$custom-file-text: (
  en: 'Browse',
  ru: 'Выбрать файл'
);

$border-radius: 0.3125rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.75rem;
