.map-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  background-color: $gray-50;
  overflow: hidden;
}

.page-about {
  position: relative;
  margin-top: -1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: $white;
  background-color: #093046;
  overflow: hidden;
  z-index: 0;

  .img-overflow {
    position: relative;
    flex: 0 0 auto;
    z-index: -1;
  }

  h1,
  .h1 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    color: rgba($white, 0.2);
  }

  .lead {
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    font-size: $font-size-base;

    & > p {
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0.125rem;
      bottom: 0.125rem;
      width: 1px;
      border-radius: $rounded-pill;
      background-color: $primary;
      background-image: linear-gradient(#26f4d0, #11a4b4, #0277b5);
    }
  }

  .about-benefits {
    margin-top: 3rem;

    .benefit {
      position: relative;
      font-size: $font-size-1;
      font-weight: $font-weight-medium;
      text-align: center;
      border-radius: $rounded-pill;
      border: 1px solid rgba($white, 0.13);

      &::before {
        display: block;
        content: '';
        padding-bottom: 100%;
      }

      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: 0;
    padding-top: 2rem;

    h1,
    .h1 {
      font-size: 3rem;
    }
  }

  @include media-breakpoint-up(lg) {
    h1,
    .h1 {
      font-size: 4.5rem;
    }

    .about-benefits {
      margin-top: 5rem;

      .benefit {
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          height: 1px;
          background-color: rgba($white, 0.13);
        }
      }

      & > .row > [class*='col-'] {
        &:first-of-type {
          .benefit {
            &::after {
              display: block;
              right: calc(100% + 1px);
              width: calc(
                50vw - #{map-get($container-max-widths, 'lg') / 2} - 1px
              );
            }
          }
        }

        &:last-of-type {
          .benefit {
            &::after {
              display: block;
              left: calc(100% + 1px);
              width: calc(
                50vw - #{map-get($container-max-widths, 'lg') / 2} - 1px
              );
            }
          }
        }

        &:nth-of-type(3) {
          .benefit {
            &::after {
              display: block;
              left: calc(100% + 1px);
              width: calc(50vw + #{$grid-gutter-width / 2} - 1px);
            }
          }
        }

        &:nth-of-type(4) {
          .benefit {
            &::after {
              display: block;
              right: calc(100% + 1px);
              width: calc(50vw + #{$grid-gutter-width / 2} - 1px);
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    h1,
    .h1 {
      margin-bottom: 2rem;
      font-size: 6rem;
    }

    .lead {
      margin-bottom: 2rem;

      & > p:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    .about-benefits {
      margin-top: 8rem;
    }
  }
}
