.card-catalog-category-wrapper {
  height: 100%;
  padding-bottom: 1rem;

  .card.card-catalog-category {
    font-weight: $font-weight-bold;
    text-align: center;
    border-radius: 0;
    border: none;
    color: $body-color;

    .card-img {
      position: relative;
      width: 100%;
      border-radius: 0;

      &::before {
        display: block;
        content: '';
        padding-bottom: 75%;
      }

      .card-img-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-body {
      padding: 0.5rem;

      .card-title {
        margin-bottom: 0;
      }
    }

    &:hover {
      text-decoration: none;
      color: $secondary;
    }
  }

  .card-catalog-category-children {
    display: none;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 2rem;

    .card.card-catalog-category {
      .card-body {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 3rem 2.5rem;

        .card-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 0;
          height: 100%;
          font-weight: $font-weight-bold;
          text-align: center;
          color: $body-color;
          background-color: rgba($white, 0.8);
          transition: $transition-base;
        }
      }

      &:hover {
        .card-body {
          .card-title {
            text-decoration: none;
            color: $secondary;
            background-color: $white;
          }
        }
      }
    }

    .card-catalog-category-children {
      display: block;
      margin-top: 1rem;
      margin-bottom: 0;

      .children-item {
        margin-bottom: 1em;

        .children-link {
          color: $body-color;

          &:hover {
            text-decoration: none;
            color: $secondary;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &.children-item-all {
          .children-link {
            text-decoration: underline;
            color: $secondary;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 3rem;

    .card.card-catalog-category {
      .card-body {
        padding: 4rem 3.5rem;
        font-size: $font-size-4;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card.card-catalog-category {
      .card-body {
        padding: 4.5rem 4rem;
      }
    }
  }
}

.card.card-catalog-subcategory {
  margin-bottom: -1px;
  font-weight: $font-weight-medium;
  text-align: center;
  border-radius: 0;
  border-left: none;
  border-right: none;
  color: $body-color;

  .card-img {
    display: none;
  }

  .card-body {
    padding: 0.875rem 1.5rem;

    .card-title {
      margin-bottom: 0;
    }
  }

  &:hover {
    text-decoration: none;
    color: $secondary;
  }

  @include media-breakpoint-up(md) {
    position: relative;
    margin-bottom: 2rem;
    border: none;

    .card-img {
      display: block;
      position: relative;
      width: 100%;
      border-radius: 0;

      &::before {
        display: block;
        content: '';
        padding-bottom: 75%;
      }

      .card-img-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-body {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 3rem 2.5rem;

      .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        padding: 0.5rem;
        height: 100%;
        font-weight: $font-weight-bold;
        text-align: center;
        color: $body-color;
        background-color: rgba($white, 0.8);
        transition: $transition-base;
      }
    }

    &:hover {
      .card-body {
        .card-title {
          text-decoration: none;
          color: $secondary;
          background-color: $white;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card-body {
      padding: 3.25rem 2.75rem;

      .card-title {
        padding: 0.75rem 1rem;
      }
    }
  }
}

.btn.catalog-sidebar-toggle {
  padding: 0;
  font-weight: $font-weight-bold;
  text-align: right;
  text-transform: uppercase;
  border: none;

  &:not(:disabled):not(.disabled) {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
      box-shadow: none;
    }
  }
}

.catalog-sidebar {
  &.catalog-sidebar-collapsible {
    @include media-breakpoint-down(sm) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: $white;
      transform: translateX(100%);
      transition: $transition-base;
      overflow-y: auto;
      z-index: $zindex-modal;

      &.show {
        transform: translateX(0);
      }
    }
  }

  .sidebar-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .sidebar-title {
      flex: 1 1 0;
      margin-bottom: 0;
      font-size: $font-size-1;
      font-weight: $font-weight-bold;
      text-align: center;
      text-transform: uppercase;
      color: $primary;
    }

    .close {
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;
      float: none;
      padding: 0.25rem;
      line-height: 0;
      border-radius: $rounded-pill;
      background-color: $white;
      opacity: 1;

      &:not(:disabled):not(.disabled) {
        &:hover {
          background-color: $light;
        }
      }
    }
  }
}

.collapse-catalog-sidebar {
  .collapse-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-weight: $font-weight-medium;
    text-decoration: none;
    border-radius: $border-radius-sm;
    border-color: $gray-400;
    color: $body-color;

    .caption {
      margin-right: 1rem;
    }

    .icon {
      margin-left: auto;
      fill: $gray-400;
      transition: $transition-base;
      transform: rotate(-180deg);
    }

    &.collapsed {
      .icon {
        transform: rotate(-90deg);
      }
    }

    &:not(:disabled):not(.disabled) {
      &:hover {
        text-decoration: none;
        color: $secondary;
        border-color: $secondary;

        .icon {
          fill: $secondary;
        }
      }

      &:focus {
        text-decoration: none;
        box-shadow: none;
      }
    }
  }

  .collapse-content {
    padding: 1rem 1rem 1rem 2rem;
  }
}

.collapse-catalog-filter {
  .collapse-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    font-weight: $font-weight-medium;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    border-color: $gray-100;
    color: $body-color;
    background-color: $gray-100;

    .caret {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: calc(1.5em + 0.5rem);

      &::before,
      &::after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 15px;
        height: 1px;
        background-color: $gray-500;
        transform: translateX(-50%) translateY(-50%);
        transition: $transition-base;
      }

      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(0);
      }
    }

    &.collapsed {
      .caret {
        &::before {
          transform: translateX(-50%) translateY(-50%) rotate(-180deg);
        }

        &::after {
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
        }
      }
    }

    &:not(:disabled):not(.disabled) {
      &:hover {
        text-decoration: none;
        color: $body-color;
      }

      &:focus {
        text-decoration: none;
        box-shadow: none;
      }
    }
  }

  .collapse-content {
    padding: 0.5rem 0.25rem;
  }
}

.dropdown-catalog-sort {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    font-size: $font-size-1;
    text-align: left;
    border: none;
    color: $gray-500;

    .icon {
      margin-left: 0.5rem;
      fill: $gray-500;
      transform: rotate(0);
      transition: $transition-base;
    }

    &:not(:disabled):not(.disabled) {
      &:hover {
        text-decoration: none;
        color: $secondary;

        .icon {
          fill: $secondary;
        }
      }

      &:focus {
        text-decoration: none;
        box-shadow: none;
      }
    }
  }

  .dropdown-menu {
    border-radius: $border-radius-sm;

    .dropdown-item {
      padding: 0.25rem 0.75rem;
    }
  }

  &.desc {
    .dropdown-toggle {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  @include media-breakpoint-up(md) {
    .dropdown-toggle {
      font-size: $font-size-base;
    }
  }
}

.catalog-controls {
  display: none;
  align-items: center;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog-controls-header {
  flex: 0 0 100%;
  font-size: $font-size-4;
  font-weight: $font-weight-medium;

  @include media-breakpoint-up(xl) {
    flex: 1 1 0;
    padding-right: 30px;
  }
}

.btn-group.catalog-view-controls {
  flex: 0 0 100%;
  justify-content: flex-start;
  margin-left: -0.25rem;

  & > .btn {
    flex: 0 0 auto;
    padding: 0 0.25rem;
    border: none;
    margin-left: 0 !important;

    .icon {
      fill: $gray-300;
      transition: $transition-base;
    }

    &:not(:disabled):not(.disabled) {
      &:hover {
        .icon {
          fill: $gray-600;
        }
      }

      &:focus,
      &.focus {
        box-shadow: none !important;
      }

      &.active {
        .icon {
          fill: $secondary;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    flex: 0 0 auto;
    justify-content: flex-end;
    margin-left: 30px;
    margin-right: -0.25rem;
  }
}

.btn.btn-show-more {
  border-radius: $border-radius-sm;
  border-color: $dark;
  color: $dark;

  .icon {
    fill: $dark;
    transition: $transition-base;
  }

  &:not(:disabled):not(.disabled) {
    &.busy,
    &.busy:hover,
    &.busy:focus {
      text-decoration: none;
      color: $white;
      border-color: $primary;
      background-color: $primary;
      box-shadow: none;
      opacity: 0.25;

      .icon {
        fill: $white;
        animation: spin 2s ease-in-out infinite;
      }
    }

    &:not(.busy) {
      &:hover {
        text-decoration: none;
        border-color: $primary;
        color: $primary;

        .icon {
          fill: $primary;
        }
      }

      &:focus {
        text-decoration: none;
        box-shadow: none;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}