.home-benefit {
  display: block;
  height: 100%;
  text-decoration: none;
  color: $gray-700;

  .icon {
    fill: $gray-700;
    transition: $transition-base;
  }

  &:hover {
    text-decoration: none;
    color: $primary;

    .icon {
      fill: $primary;
    }
  }
}